{:kotoba.app/id "cloud.itonami.isic-0510", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreics2uqzcucmkxrl5inkdq4hidmkxheixuzlszzgdmvszpsvlrgmzi", :kotoba.app/embed-url "ipfs://bafkreics2uqzcucmkxrl5inkdq4hidmkxheixuzlszzgdmvszpsvlrgmzi", :published {:archive "https://kotobase.net/ipfs/bafkreics2uqzcucmkxrl5inkdq4hidmkxheixuzlszzgdmvszpsvlrgmzi", :size 72125, :put-status 201, :get-status 200, :at "2026-08-15T13:55:50.925Z"}}
